.background-image {
    background-image: url("https://res.cloudinary.com/dy6wiutks/image/upload/v1546131234/tr_background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-caret {
margin-top: 60vh;
font-size: 60px;
}

.down-caret i {
color: white;
text-decoration: none;
font-size: 80px;
margin-bottom: 12vh;
}

#home-container {
width: 900px;
height: 100%;
background-color: black;
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

#home-container p {
color: white;
}

.home-title-container {
max-width: 500px;
margin-top: 20px;
}

.home-title {
font-size: 38px;
font-weight: bold;
font-style: italic;
color: white;
}

.home-main-image {
width: 600px;
margin-top: 30px;
}

.picture-strapline {
font-size: 15px;
color: white;
}

.mid-line {
font-size: 30px;
font-weight: bold;
font-style: italic;
width: 600px;
margin-top: 60px;
color: white;
}

.management-pics {
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
}

.management-pic {
width: 300px;
margin: 20px;
}

.final-word {
font-size: 28px;
font-weight: bold;
font-style: italic;
width: 600px;
margin: 50px;
color: white;
}

html {
scroll-behavior: smooth;
}
