body {
  background-color: white;
}

.top-banner {
  height: 660px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.enter-container {
  text-align: center;
}

.enter-container h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 52px;
}

.enter-container h2 {
  margin-top: 80px;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
}

.enter-container .title-container {
  margin-bottom: 80px;
}

.enter-container .enter-btn {
  font-size: 42px;
  font-weight: bold;
  color: black;
  padding: 10px 60px;
  border-radius: 60px;
  text-decoration: none;
  border: 6px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.enter-container .enter-btn:hover {
  border: 8px solid black;
}

.logo {
  height: 400px;
  filter: grayscale(1);
  transition: all 0.15s ease;
  margin: 0 25px 0 45px;
}

.logo:hover {
  filter: none;
}

.ferrari-pitlane {
  height: 550px;
  transform: rotate(355deg);
  border: 1px solid #969696;
  border-radius: 1px;
  padding: 16px;
  margin-right: -100px;
  margin-left: 90px;
  overflow: hidden;
}

.lp-wrapper {
  height: 100%;
  width: 100vw;
}

.car-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 140px;
  width: 100vw;
}

.car-icons .jag-badge {
  height: 66px;
  margin-right: -40px;
  z-index: 1;
}

.car-icons .car-badge {
  height: 100px;
  background-color: white;
  z-index: 1;
}

.paddock-pic {
  width: 100vw;
  margin-top: -30px;
  z-index: -1;
}

.paddock-pic .paddock-image {
  width: 100%;
}

.mo {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.momoe {
  height: 525px;
  transform: rotate(5deg);
  padding: 16px;
  border: 1px solid #969696;
  border-radius: 1px;
  margin-left: -200px;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.momoe:hover {
  filter: none;
}

.strapline-container {
  width: 600px;
  font-style: italic;
}

.strapline-container h2 {
  font-size: 30px;
}

.goodwood-bird {
  width: 100vw;
  padding: 0;
}

.goodwood-bird .goodwood-girl {
  width: 100%;
}
