{% load static %}
<link rel="stylesheet" href="{% static 'members_area/components/_footer.css' %}">

<div class="footer">
  <h3 class="footer-text">© 2018 FineFettling.com. All Rights Reserved.</h3>
  <div class="social-links">
    <a href="https://github.com/nickpetzold" target: "_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://www.facebook.com/Wendy-Thomas-Art-Design-1427535447541428/" target: "_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/NickPetzold" target: "_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="mailto:matthewpetzold@gmail.com" target: "_blank"><i class="fas fa-envelope-square"></i></a>
  </div>
  <h3 class="footer-text">Site designed by FineFettling Design, Lisbon 🇵🇹</h3>
</div>
